//Color Scheme

$purple: #610cea;
$pink: #ec00af;
$magenta: #ff0072;
$orange: #ff7546;
$tangerine: #ffbe3d;
$lemon: #f9f871;

$dark-blue: #051937;
$royal-blue: #004d7a;
$aqua: #008793;
$green: #00bf72;
$lime: #a8eb12;

$text-color: #fff;
$text-modal: #504f4f;
$btn-text-color: #3f3e42;

$body-font: newbery-sans-pro, sans-serif;
$heading-font: rift, sans-serif;

$breakpoints: (
  "x-small": 500px,
  "small": 768px,
  "medium": 992px,
  "large": 1200px,
) !default;
